<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Trifonova Ekaterina</title>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Bellota+Text&family=Inter&family=Lato:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <div class="wrapper">
    <header>
      <nav class="top-navigation">
        <ul class="navigation-list">
          <li class="navigation-list__item"><a href="#" class="navigation-list__link">About me</a></li>
          <li class="navigation-list__item"><a href="#" class="navigation-list__link">Skills</a></li>
          <li class="navigation-list__item"><a href="#" class="navigation-list__link">Experience</a></li>
          <li class="navigation-list__item"><a href="#" class="navigation-list__link">Education</a></li>
          <li class="navigation-list__item"><a href="#" class="navigation-list__link">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
    <aside class="sidebar">
      <section class="about-me">
      <div class="about-me__photo"><img class="about-me__photo" src="images/resume_photo.jpg" alt="Trifonova Ekaterina"></div> 
      <h2 class="about-me__title">About me</h2>  
      <div class="about-me__text"><p>Since September 2021, I have been actively immersed in frontend development, learned the basics of working with Git, started writing logic in Javascript, got acquainted with Vue.js, started using Webpack and Gulp to build projects, improved my page layout skills. Presently I'm taking an advanced frontend development course from The Rolling Scopes School and improving my knowledge of technical English.</p>
        <p>At the moment, my favorite development tool is Vue.js, I like how the framework organizes the logic of the code and ensures the stability of the deployed application.</p></div>    
    </section>
    <section class="knowledge">
      <div class="skills">
        <h2 class="skills__title">Working skills</h2>
          <ul class="skills__list">
            <li class="skills__item">Vue.js</li>
            <li class="skills__item">Javascript</li>
            <li class="skills__item">HTML</li>
            <li class="skills__item">CSS</li>
            <li class="skills__item">SASS / SCSS</li>
            <li class="skills__item">Git</li>
            <li class="skills__item">BEM</li>
            <li class="skills__item">jQuery</li>
            <li class="skills__item">Bootstrap</li>
            <li class="skills__item">Axios</li>
            <li class="skills__item">Webpack</li>
            <li class="skills__item">Gulp</li>
      </div>
      <div class="language">
        <h2 class="language__title">Language</h2>
        <div class="language__items">
          <div class="language__item language-item">
            <div class="language-item__name">Russian</div>
            <div class="language-item__level">Mother tongue</div>
          </div>
          <div class="language__item language-item">
            <div class="language-item__name">English</div>
            <div class="language-item__level">Intermediate level</div>
          </div>
          <div class="language__item language-item">
            <div class="language-item__name">French</div>
            <div class="language-item__level">Advanced level</div>
          </div>
          <div class="language__item language-item">
            <div class="language-item__name">Serbian</div>
            <div class="language-item__level">Beginner level</div>
          </div>
        </div>
       
      </div>
    </section>
    </aside>
    <main class="main">
      <h1 class="full-name">Ekaterina Trifonova</h1>
      <div class="main__subtitles subtitles">
        <h2 class="subtitles__speciality">Frontend developer</h2>
        <h2 class="subtitles__contact">Contact</h2>
      </div>
      <div class="main__contacts">
        <ul class="contacts__list">
          <li class="contacts__item"><a href="https://www.google.com/maps/place/%D0%9D%D0%BE%D0%B2%D0%B8-%D0%A1%D0%B0%D0%B4/@45.2714218,19.7670401,12z/data=!3m1!4b1!4m5!3m4!1s0x475b10613de93455:0xb6f7d683724fe28!8m2!3d45.2396085!4d19.8227056" target="_blank">Novi Sad, Serbia</a></li>
          <li class="contacts__item"><a href="mailto:3420922@gmail.com">3420922@gmail.com</a></li>
          <li class="contacts__item"><a href="tel:+79263420922">+7 (926) 342-09-22</a></li>
          <li class="contacts__item"><a href="https://github.com/ekatrif/">ekatrif</a></li>
          <li class="contacts__item"><a href="https://wa.me/+79263420922">WhatsApp</a></li>
          <li class="contacts__item"><a href="https://t.me/trifonova_ekaterina">trifonova_ekaterina</a></li>
        </ul>
      </div>
      <div class="education">
        <h2 class="education__title">Education</h2>
        <div class="education__list">
        <div class="education__item education-item">
          <div class="education-item__title">2001-2007 Engineer degree</div>
          <div class="education-item__description">Bauman Moscow State Technical University, Faculty of Special Mechanical Engineering.</div>
        </div>
        <div class="education__item education-item">
          <div class="education-item__title">2021 Frontend developer</div>
          <div class="education-item__description">Training center "Professional", Frontend development.</div>
        </div>
        <div class="education__item education-item">
          <div class="education-item__title">2022 Frontend developper</div>
          <div class="education-item__description">RollingScopes Schools, in the process.</div>
        </div>
      </div>
      </div>
      <div class="experience">
        <h2 class="experience__title">Experience</h2>
        <div class="experience__list">
          <div class="experience__item experience-item">
            <div class="experience-item__date">September 2021 - to present</div>
            <div class="experience-item__title">Frontend developer, freelance</div>
            <div class="experience-item__description">
              <p>Learned the basics of Javascript, Vue.js, Typescript, Git.</p>
              <p>Honed my practice on simulators:</p>
              <ul>
                <li><a href="https://en.hexlet.io">https://en.hexlet.io</a></li>
                <li><a href="https://htmlacademy.ru/">https://htmlacademy.ru</a></li>
                <li><a href="https://codepip.com/">https://codepip.com</a></li>
                <li><a href="https://www.codewars.com/users/ekatrif">https://www.codewars.com/users/ekatrif</a></li>
              </ul>
              <p>Made 6 pet projects:</p>
              <ol>
                <li><a href="https://github.com/ekatrif/films-rating">Vote for the film of the week</a></li>
                <li><a href="https://github.com/ekatrif/spiker-time-control">Speaker time control</a></li>
                <li><a href="https://github.com/ekatrif/Pet-project">CV page</a></li>
                <li><a href="https://github.com/ekatrif/funbox-test-task">Product page</a></li>
                <li><a href="https://github.com/ekatrif/online-shop-prototype">Online store page with a shopping cart</a></li>
                <li><a href="https://github.com/ekatrif/1146-Edu-project">Online store prototype</a></li>
              </ol>
            </div>
          </div>
          <div class="experience__item experience-item">
            <div class="experience-item__date">2010 - 2021</div>
            <div class="experience-item__title">Web developer, freelance</div>
            <div class="experience-item__description">
              <p>Learned the basics of Javascript, Vue.js, Typescript, Git.</p>
              <p>Honed my practice on simulators:</p>
              <ul>
                <li>Performed tasks for two web-studios and directly for business.</li>
                <li>Developed more than 40 sites on CMS (Wordpress, Modx, Prestashop, etc.) - a full cycle from the preparation of technical specifications to the implementation of the finished product.</li>
                <li>Improved the interface and functionality (based on standard modules) for 100+ sites.</li>
                <li>Optimized page loading speed for 20+ sites.</li>
                <li>Transferred more than 100 sites to a new hosting.</li>
                <li>Made more than a dozen content plans for filling sites, accepted texts from a team of copywriters and published them on resources.</li>
                <li>Set up contextual advertising in Yandex.Direct and Google.Adwords for 10+ clients.</li>
                Created several networks of sites and improved their visibility in search engines.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="code-examples">
        <h2 class="code-examples__title">Code examples</h2>
        <div class="code-examples__list">
          <div class="code-examples__item">
            <div class="code-item__title">CodeWars kata</div>
            <div class="code-item__code">
              <xmp class="codetext">
<script>
  function takeWhile(arr, func) {
    const outputArray = [];
    for (element of arr) {
      if (func(element)) {
        outputArray.push(element);
        } else {
        console.log(outputArray);
        return outputArray;
      }
    }
    return outputArray;
  }
  var seq = [2, 4, 6, 8, 1, 2, 5, 4, 3, 2];
  function isEven(num) {
    return num % 2 === 0;
  }
  takeWhile(seq, isEven); // -> [2,4,6,8]
</script>
              </xmp>
          </div>
        </div>
          <div class="code-examples__item code-item">
            <div class="code-item__title">Vue.js Single File Component</div>
            <div class="code-item__code hidden">
              <xmp class="codetext">
<template>
  <div class="film-card">
    <div class="film-card__poster">
      <img v-bind:src="image" v-bind:alt="titleRus" />
    </div>
    <div class="film-card__info info">
      <div class="info__original-title">{{ titleOriginal }} {{ ageRating }}+</div>
      <div class="info__about-title">О фильме</div>
      <div class="info__about-content about">
        <div class="about__name">Год производства</div>
        <div class="about__value">{{ year }}</div>
        <div class="about__name">Слоган</div>
        <div class="about__value">«{{ slogan }}»</div>
        <div class="about__name">Страна</div>
        <div class="about__value">
          <ul>
            <li v-for="item in country" v-bind:key="item.title">{{ item }}</li>
          </ul>
        </div>
        <div class="about__name">Жанр</div>
        <div class="about__value">
          <ul>
            <li v-for="item in genre" v-bind:key="item.title">{{ item }}</li>
          </ul>
        </div>
        <div class="about__name">Возраст</div>
        <div class="about__value">
          <span class="age">{{ ageRating }}+</span>
        </div>
        <div class="about__name">Звуковые дорожки</div>
        <div class="about__value">
          <ul>
            <li v-for="item in voiceOver" v-bind:key="item.title">{{ item }}</li>
          </ul>
        </div>
        <div class="about__name">Субтитры</div>
        <div class="about__value">
          <ul>
            <li v-for="item in subtitles" v-bind:key="item.title">{{ item }}</li>
          </ul>
        </div>
        <div class="about__name">Время</div>
        <div class="about__value">{{ time }} мин. {{ time | formatTime }}</div>
      </div>
    </div>
  </div>
</template>                
<script>
export default {
  name: "FilmCard",

  props: ["id", "titleRus", "titleOriginal", "year", "ageRating", "genre", "country", "time", "voiceOver", "subtitles", "slogan", "image"],
  filters: {
    formatTime: function (timeMins) {
      if (timeMins < 60) {
        return false;
      } else {
        let hours = Math.floor(timeMins / 60);
        let mins = timeMins - hours * 60;
        return `/ ${hours}ч. ${mins}мин.`;
      }
    },
  },
  components: {},
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.film-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}
.film-card__poster {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  height: auto;
}
.film-card__poster img {
  width: 100%;
  height: auto;
}
.film-card__info {
  height: 100%;
}
.info__original-title {
  font-size: 120%;
  font-weight: 400;
}
.info__about-title {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 120%;
  font-weight: 500;
}
.info__about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  font-size: 90%;
  line-height: 2;
}
.about__name {
  color: rgba(21, 25, 29, 0.7);
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  display: inline;
}
ul li:not(:last-child)::after {
  content: ", ";
}
.age {
  width: auto;
  padding: 3px;
  border: 2px solid rgba(21, 25, 29);
  border-radius: 3px;
  font-weight: 600;
}
</style>
              </xmp>
            </div>
          </div>
      </div>
    </main>
  </div>
    <footer class="footer">
      <div class="footer__copyright">© 2022 by Ekaterina Trifonova</div>
      <div class="footer-link"><a href="https://github.com/ekatrif">Github</a></div>
      <div class="footer__rs-logo"><a href="https://rs.school/js/"><img src="images/svg/rs_school_js.svg" alt=""></a></div>
    </footer>
  </div>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
